<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Book-Application-Servlet-JSP</display-name>
	<servlet>
		<description>
		</description>
		<display-name>BookController</display-name>
		<servlet-name>BookController</servlet-name>
		<servlet-class>com.bookapp.controller.BookController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Hello</display-name>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.demo.Hello</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserSignup</display-name>
		<servlet-name>UserSignup</servlet-name>
		<servlet-class>com.bookapp.controller.UserSignup</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogin</display-name>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.bookapp.controller.UserLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogout</display-name>
		<servlet-name>UserLogout</servlet-name>
		<servlet-class>com.bookapp.controller.UserLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.bookapp.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminBookController</display-name>
		<servlet-name>AdminBookController</servlet-name>
		<servlet-class>com.bookapp.controller.AdminBookController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowAllBooks</display-name>
		<servlet-name>ShowAllBooks</servlet-name>
		<servlet-class>com.bookapp.controller.ShowAllBooks</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteABook</display-name>
		<servlet-name>DeleteABook</servlet-name>
		<servlet-class>com.bookapp.controller.DeleteABook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateABook</display-name>
		<servlet-name>UpdateABook</servlet-name>
		<servlet-class>com.bookapp.controller.UpdateABook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeletingBook</display-name>
		<servlet-name>DeletingBook</servlet-name>
		<servlet-class>com.bookapp.controller.DeletingBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddingBook</display-name>
		<servlet-name>AddingBook</servlet-name>
		<servlet-class>com.bookapp.controller.AddingBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatingBook</display-name>
		<servlet-name>UpdatingBook</servlet-name>
		<servlet-class>com.bookapp.controller.UpdatingBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogout</display-name>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.bookapp.controller.AdminLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookController</servlet-name>
		<url-pattern>/bookcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSignup</servlet-name>
		<url-pattern>/usersignup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminBookController</servlet-name>
		<url-pattern>/adminbookcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAllBooks</servlet-name>
		<url-pattern>/showallbooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteABook</servlet-name>
		<url-pattern>/deleteabook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateABook</servlet-name>
		<url-pattern>/updateabook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletingBook</servlet-name>
		<url-pattern>/deletingbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddingBook</servlet-name>
		<url-pattern>/addingbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatingBook</servlet-name>
		<url-pattern>/updatingbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/adminlogout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
